<!DOCTYPE html>

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <!--Import Google Icon Font-->
    <link href="@Url.Content("https://fonts.googleapis.com/icon?family=Material+Icons")" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/content/bootstrap.min.css")" media="screen,projection" />
    @*<script src="@Url.Content("https://www.google.com/recaptcha/api.js")"></script>*@
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        body {
            background: #fff;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.0.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/popper.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
</body>
</html>
