<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title</title>
    <!--Import Google Icon Font-->
    <link href="@Url.Content("https://fonts.googleapis.com/icon?family=Material+Icons")" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/content/materialize/css/materialize.min.css")" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/materialize/js/materialize.min.js")"></script>
</body>
</html>