@model Upds.Sistemas.ProgWeb2.Tintoreria.MVC.Models.CategoriaModel

@{
    ViewBag.Title = "Editar Categoria";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Editar Categoria</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="row">
            <div class="col s6">
                <div class="row">
                    <div class="input-field col s2">
                        @Html.LabelFor(model => model.Nombre)
                    </div>
                    <div class="input-field col s10">
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "validate", @placeholder = "Nombre Categoria" })
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s2">
                        @Html.LabelFor(model => model.Descripcion)
                    </div>
                    <div class="input-field col s10">
                        @Html.TextBoxFor(model => model.Descripcion, new { @class = "validate", @placeholder = "Descripcion Categoria" })
                        @Html.ValidationMessageFor(model => model.Descripcion)
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s2">
                        @Html.LabelFor(model => model.Precio)
                    </div>
                    <div class="input-field col s10">
                        @Html.TextBoxFor(model => model.Precio, new { @class = "validate", @placeholder = "Precio Categoria" })
                        @Html.ValidationMessageFor(model => model.Precio)
                    </div>
                </div>
                <button type="submit" class="waves-effect waves-light btn">
                    <i class="material-icons left">edit</i> Modificar Categoria
                </button>
            </div>
        </div>
    </fieldset>
}


