@model IEnumerable<Upds.Sistemas.ProgWeb2.Tintoreria.MVC.Models.ClienteModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Lista Clientes</h2>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.PrimerApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ci)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoApellido)
            </td>
            <td>
                <a class="waves-effect waves-light btn amber" href="@Url.Action("../Categoria/Ver", new { mCodigo = item.IdCategoria })"><i class="material-icons left">remove_red_eye</i> Ver</a>
                <a class="waves-effect waves-light btn green" href="@Url.Action("Editar", "Categoria", new { mCodigo = item.IdCategoria })"><i class="material-icons left">edit</i> Editar</a>
                <a class="waves-effect waves-light btn red" href="@Url.Action("../Categoria/Eliminar", new { mCodigo = item.IdCategoria })"><i class="material-icons left">delete</i> Eliminar</a>
                @*@Html.ActionLink("<i class=\"material - icons left\">pencil</i> Editar", "../Paciente/Ver", new { mCodigo = item.IdCategoria }, new { @class = "waves-effect waves-light btn" }) |*@
            </td>
        </tr>
    }

</table>


