@model Upds.Sistemas.ProgWeb2.Tintoreria.MVC.Models.ClienteListModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="container">
        <h2>Lista Clientes</h2>
        <a class="btn btn-info my-3" href="@Url.Action("../Cliente/Crear")"><i class="material-icons left">add</i>Crear Cliente</a>
        @using (Html.BeginForm())
        {
            <table class="table table-striped">
                <tr>
                    <th>
                        @*@Html.LabelFor(model=>model[0].Nombre)*@Nombre
                    </th>
                    <th>
                        @*@Html.LabelFor(model => model[0].PrimerApellido)*@ Apellido1
                    </th>
                    <th>
                        @*@Html.LabelFor(model => model[0].SegundoApellido)*@Apellido2
                    </th>
                    <th>
                        @*@Html.LabelFor(model => model[0].Ci)*@Ci
                    </th>
                    <th>Actions</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.PrimerApellido
                        </td>
                        <td>
                            @item.SegundoApellido
                        </td>
                        <td>
                            @item.Ci
                        </td>
                        <td>
                            <a class="btn btn-info" href="@Url.Action("../Cliente/Ver", new { Id = item.IdPersona })"><i class="material-icons left">remove_red_eye</i> Ver</a>
                            <a class="btn btn-warning" href="@Url.Action("../Cliente/Editar", new { Id = item.IdPersona })"><i class="material-icons left">edit</i> Editar</a>
                            <a class="btn btn-danger" href="@Url.Action("../Cliente/Eliminar", new { Id = item.IdPersona })"><i class="material-icons left">delete</i> Eliminar</a>
                        </td>
                    </tr>
                }

            </table>
            <div id="container" style="margin-left: 20px">
                <div class="pagination" style="margin-left: 400px">
                    @if (Model.Pager.EndPage > 1)
                    {
                        <ul class="pagination justify-content-center">
                            @if (Model.Pager.CurrentPage > 1)
                    {
                                <li class="page-item">
                                    <a class="page-link" href="~/Cliente/Index">Primero</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="~/Cliente/Index?page=@(Model.Pager.CurrentPage - 1)">Anterior</a>
                                </li>
                            }

                            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                    {
                                <li class="page-item  @(page == Model.Pager.CurrentPage ? "active" : "")">
                                    <a class="page-link" href="~/Cliente/Index?page=@page">@page</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                                <li class="page-item">
                                    <a class="page-link" href="~/Cliente/Index?page=@(Model.Pager.CurrentPage + 1)">Siguiente</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="~/Cliente/Index?page=@(Model.Pager.TotalPages)">Ultimo</a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>

        }

    </div>


  