@model Upds.Sistemas.ProgWeb2.Tintoreria.MVC.Models.ClienteListModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="container">
        <h2>Lista Clientes</h2>
        <a class="btn btn-info my-3" href="@Url.Action("../Cliente/Crear")"><i class="material-icons left">add</i>Crear Cliente</a>
        @using (Html.BeginForm())
        {
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.LabelFor(model=>model[0].Nombre)
                    </th>
                    <th>
                        @Html.LabelFor(model => model[0].PrimerApellido)
                    </th>
                    <th>
                        @Html.LabelFor(model => model[0].SegundoApellido)
                    </th>
                    <th>
                        @Html.LabelFor(model => model[0].Ci)
                    </th>
                    <th>Actions</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.PrimerApellido
                        </td>
                        <td>
                            @item.SegundoApellido
                        </td>
                        <td>
                            @item.Ci
                        </td>
                        <td>
                            <a class="waves-effect waves-light btn amber" href="@Url.Action("../Categoria/Ver", new { Id = item.IdPersona })"><i class="material-icons left">remove_red_eye</i> Ver</a>
                            <a class="waves-effect waves-light btn green" href="@Url.Action("Editar", "Categoria", new { Id = item.IdPersona })"><i class="material-icons left">edit</i> Editar</a>
                            <a class="waves-effect waves-light btn red" href="@Url.Action("../Categoria/Eliminar", new { Id = item.IdPersona })"><i class="material-icons left">delete</i> Eliminar</a>
                        </td>
                    </tr>
                }

            </table>
            <div id="container" style="margin-left: 20px">
                <div class="pagination" style="margin-left: 400px">
                    <!-- pager -->
                    @if (Model.Pager.EndPage > 1)
                    {
                        <ul class="pagination">
                            @if (Model.Pager.CurrentPage > 1)
                    {
                                <li>
                                    <a href="~/Categoria/Index">Primero</a>
                                </li>
                                <li>
                                    <a href="~/Categoria/Index?page=@(Model.Pager.CurrentPage - 1)">Anterior</a>
                                </li>
                            }

                            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                    {
                                <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                                    <a href="~/Categoria/Index?page=@page">@page</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                                <li>
                                    <a href="~/Categoria/Index?page=@(Model.Pager.CurrentPage + 1)">Siguiente</a>
                                </li>
                                <li>
                                    <a href="~/Categoria/Index?page=@(Model.Pager.TotalPages)">Ultimo</a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>

        }

    </div>


  