@model Upds.Sistemas.ProgWeb2.Tintoreria.MVC.Models.TrabajoListModel
@{
    ViewBag.Title = "Lista Trabajo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row mb-3">
    <div class="col-12">
        <h2>Lista de Trabajos</h2>
    </div>
    <div class="col-12">
        <a class="btn btn-primary" href="@Url.Action("../Trabajo/Nuevo")"><i class="fa fa-fw fa-plus"></i> Nuevo Trabajo</a>
    </div>
</div>

@using (Html.BeginForm())
{
<div class="row">
    <div class="col-12">
        <table class="table table-striped table-sm">
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Total(.Bs)</th>
                <th>Acciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.IdTrabajo
                    </td>
                    <td>
                        @item.FechaTrabajo
                    </td>
                    <td>
                        @(item.Cliente.Nombre + " - " + item.Cliente.Ci)
                    </td>
                    <td>
                        @item.TotalPrecio
                    </td>
                    <td>
                        <a class="btn btn-info" href="@Url.Action("../Trabajo/Detalles", new { idTrabajo = item.IdTrabajo })"><i class="fa fa-fw fa-eye"></i> Detalles</a>
                        <a class="btn btn-warning" href="@Url.Action("Editar", "Trabajo", new { idTrabajo = item.IdTrabajo })"><i class="fa fa-fw fa-edit"></i> Editar</a>
                        <a class="btn btn-danger" href="@Url.Action("../Trabajo/Eliminar", new { idTrabajo = item.IdTrabajo })"><i class="fa fa-fw fa-trash"></i> Eliminar</a>
                    </td>
                </tr>
            }


        </table>
    </div>
    <div class="col-12">
        <nav>
            <!-- pager -->
            @if (Model.Pager.EndPage > 1)
            {
                <ul class="pagination justify-content-center">
                    @if (Model.Pager.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="~/Trabajo/Index">Primero</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="~/Trabajo/Index?page=@(Model.Pager.CurrentPage - 1)">Anterior</a>
                        </li>
                    }

                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                    {
                        <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                            <a class="page-link" href="~/Trabajo/Index?page=@page">@page</a>
                        </li>
                    }

                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" href="~/Trabajo/Index?page=@(Model.Pager.CurrentPage + 1)">Siguiente</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="~/Trabajo/Index?page=@(Model.Pager.TotalPages)">Ultimo</a>
                        </li>
                    }
                </ul>
            }
        </nav>
    </div>
</div>
}