@model Upds.Sistemas.ProgWeb2.Tintoreria.MVC.Models.UsuarioModel

@{
    ViewBag.Title = Resource.Resource.Login;
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

<div class="container">
    <div class="row">
        <div class="section"></div>
        <main>
            <center>
                <div class="container">
                    <div class="z-depth-3 y-depth-3 x-depth-3 grey green-text lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px; margin-top: 100px; solid #EEE;">
                        <div class="section">
                            <h3>@Resource.Resource.Login</h3>
                        </div>
                        <div class="section">
                            <h5>@ViewBag.Error</h5>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                @Html.ValidationMessageFor(model => model.Username)
                                @Html.TextBoxFor(model => model.Username, new { @class = "validate", @placeholder = Resource.Resource.Username })
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                @Html.ValidationMessageFor(model => model.Password)
                                @Html.PasswordFor(model => model.Username, new { @class = "validate", @placeholder = Resource.Resource.Password })
                            </div>
                        </div>
                        <br />
                        <center>
                            <div class="row">
                                <button style="margin-left:65px;" type="submit" class="col s6 btn btn-small white black-text  waves-effect z-depth-1 y-depth-1">@Resource.Resource.Login</button>
                            </div>
                        </center>

                    </div>
                </div>
            </center>
        </main>
    </div>
</div>
}


