@model Upds.Sistemas.ProgWeb2.Tintoreria.MVC.Models.UsuarioModel

@{
    ViewBag.Title = Resource.Resource.Login;
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using reCAPTCHA.MVC
<div id="Error" class="section">
    <h5 class="text-center text-danger">@ViewBag.Error</h5>
</div>
@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.ValidationSummary(true)
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">@Resource.Resource.Login</h1>
    </div>
    <div class="form-label-group">
        @Html.TextBoxFor(model => model.Username, new { @type = "text", @class = "form-control", @id = "user", @placeholder = Resource.Resource.Username, @autofocus = true })
        @Html.LabelFor(model => model.Username, new { @for = "user" })
        @Html.ValidationMessageFor(model => model.Username)
    </div>

    <div class="form-label-group">
        @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control", @id = "pass", @placeholder = Resource.Resource.Password })
        @Html.LabelFor(model => model.Password, new { @for = "pass" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    
    <div class="row">
        <div class="pl-5 pb-3">
            @Html.Recaptcha(publicKey: "6LeT6IwUAAAAAJNt19ip-Cz-e0qCknVaQGAOFxwK", theme: CaptchaTheme.Dark, type: CaptchaType.Image)
            @Html.ValidationMessage("ReCaptcha")
        </div>
    </div>

    <button class="btn btn-lg btn-info btn-block" type="submit">
        @Resource.Resource.Login
    </button>
}


