@model Upds.Sistemas.ProgWeb2.Tintoreria.MVC.Models.PersonalModel

@{
    ViewBag.Title = "Crear";
    
}

<h2>Crear Personal</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col s12 m4">
            
                <h4>Personal</h4>
            <div>
                <div>
                    @Html.TextBoxFor(model => model.Ci, new { @placeholder = "Ci" })
                    @Html.ValidationMessageFor(model => model.Ci)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.Nombre, new { @placeholder = "Nombre" })
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.PrimerApellido, new { @placeholder = "Primer Apellido" })
                    @Html.ValidationMessageFor(model => model.PrimerApellido)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.SegundoApellido, new { @placeholder = "Segundo Apellido" })
                    @Html.ValidationMessageFor(model => model.SegundoApellido)
                </div>
                <div>
                    @Html.LabelFor(model => model.Sexo)
                    @Html.DropDownListFor(model => model.Sexo.IdSexo, (IEnumerable<SelectListItem>)ViewBag.ListaSexos, new { @style = "display: block" })
                    @Html.ValidationMessageFor(model => model.Sexo)
                </div>
                <div>
                    @Html.LabelFor(model => model.FechaNacimiento)
                    @Html.TextBoxFor(model => model.FechaNacimiento, new { @type = "date" })
                    @Html.ValidationMessageFor(model => model.FechaNacimiento)
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div>
                <h4>Datos Personal</h4>
                <div>
                    @Html.TextBoxFor(model => model.CodPersonal, new { @placeholder = "Codigo" })
                    @Html.ValidationMessageFor(model => model.CodPersonal)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.FechaNacimiento, new { @type = "date" })
                    @Html.ValidationMessageFor(model => model.FechaNacimiento)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.FechaIngreso, new { @type = "date" })
                    @Html.ValidationMessageFor(model => model.FechaIngreso)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.Sueldo, new { @placeholder = "Sueldo" })
                    @Html.ValidationMessageFor(model => model.Sueldo)
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col s12 m4">
                <h4>Correos</h4>
                @foreach (var item in Model.Correos)
                {
                    <div>
                        @Html.TextBoxFor(modelitem => item.Nombre, new { @placeholder = "Nombre Correo" })
                        @Html.ValidationMessageFor(modelitem => item.Nombre)

                        @Html.LabelFor(modelItem => item.Principal)
                        @Html.CheckBoxFor(modeItem => item.Principal)
                        @Html.ValidationMessageFor(modelitem => item.Principal)

                    </div>
                }
            </div>
            <div class="col s12 m4">
                <h4>Direcciones</h4>
                @foreach (var item in Model.Direcciones)
                {
                    <div>
                        @Html.TextBoxFor(modelitem => item.Descripccion, new { @placeholder = "Descripccion" })
                        @Html.ValidationMessageFor(modeitem => item.Descripccion)

                        @Html.LabelFor(modelitem => item.Tipo)
                        @Html.DropDownListFor(model => item.Tipo.IdTipo, (IEnumerable<SelectListItem>)ViewBag.ListaTipo, new { @style = "display: block" })

                        @Html.TextBoxFor(modelitem => item.Latitud, new { @placeholder = "Latitud" })
                        @Html.ValidationMessageFor(modelitem => item.Latitud)

                        @Html.TextBoxFor(modelitem => item.Longitud, new { @placeholder = "Longitud" })
                        @Html.ValidationMessageFor(modelitem => item.Longitud)

                    </div>
                }
            </div>
            <div class="col s12 m4">
                <h4>Telefonos</h4>
                @foreach (var item in Model.Telefonos)
                {
                    <div>
                        @Html.TextBoxFor(modelitem => item.Numero, new { @placeholder = "Numero" })
                        @Html.DropDownListFor(model => item.Tipo.IdTipo, (IEnumerable<SelectListItem>)ViewBag.ListaTipo, new { @style = "display: block" })
                    </div>
                }
            </div>
            <button type="submit" class="waves-effect waves-light btn">
                <i class="material-icons left">add</i> Crear Personal
            </button>
        </div>
}



