
@using Upds.Sistemas.ProgWeb2.Tintoreria.MVC.Models
@model Upds.Sistemas.ProgWeb2.Tintoreria.MVC.Models.PersonalModel


<a class="" href="@Url.Action("../Personal/Index")">Lista Personal</a>
<h2>Editar Personal</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col s12 m4">
            <div>
                @Html.TextBoxFor(model => model.IdPersona, new { @style = "display:none" })
            </div>
            <h4>Usuario</h4>
            <div>
                @Html.TextBoxFor(model => model.Usuario.Username, new { @class = "validate", @placeholder = "Usuario" })
                @Html.ValidationMessageFor(model => model.Usuario.Username)
            </div>
            <div>
                @Html.TextBoxFor(model => model.Usuario.Password, new { @class = "validate", @placeholder = "Password" })
                @Html.ValidationMessageFor(model => model.Usuario.Password)
            </div>
            <div>
                @Html.LabelFor(model => model.Usuario.EsAdmin)
                @Html.CheckBoxFor(model => model.Usuario.EsAdmin, new { @style = "display:block" })
                @Html.ValidationMessageFor(model => model.Usuario.EsAdmin)
            </div>
        </div>
        <div class="col s12 m4">
            <div>
                <h4>Persona</h4>
                <div>
                    @Html.TextBoxFor(model => model.Ci, new { @placeholder = "Ci" })
                    @Html.ValidationMessageFor(model => model.Ci)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.Nombre, new { @placeholder = "Nombre" })
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.PrimerApellido, new { @placeholder = "Primer Apellido" })
                    @Html.ValidationMessageFor(model => model.PrimerApellido)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.SegundoApellido, new { @placeholder = "Segundo Apellido" })
                    @Html.ValidationMessageFor(model => model.SegundoApellido)
                </div>
                <div>
                    @Html.LabelFor(model => model.Sexo)
                    @Html.DropDownListFor(model => model.Sexo.IdSexo, (IEnumerable<SelectListItem>)ViewBag.ListaSexos, new { @style = "display: block" })
                    @Html.ValidationMessageFor(model => model.Sexo)
                </div>
                <div>
                    @Html.LabelFor(model => model.FechaNacimiento)
                    @Html.TextBoxFor(model => model.FechaNacimiento, new { @type = "date" })
                    @Html.ValidationMessageFor(model => model.FechaNacimiento)
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div>
                <h4>Datos Personal</h4>
                <div>
                    @Html.TextBoxFor(model => model.CodPersonal, new { @placeholder = "Codigo" })
                    @Html.ValidationMessageFor(model => model.CodPersonal)
                </div>
                <div>
                    @Html.LabelFor(model => model.Cargo)
                    @Html.DropDownListFor(model => model.Cargo.IdCargo, (IEnumerable<SelectListItem>)ViewBag.ListaCargo, new { @style = "display: block" })
                    @Html.ValidationMessageFor(model => model.Cargo)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.FechaIngreso, new { @type = "date" })
                    @Html.ValidationMessageFor(model => model.FechaIngreso)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.Sueldo, new { @placeholder = "Sueldo" })
                    @Html.ValidationMessageFor(model => model.Sueldo)
                </div>
                <hr />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <h4>Correos</h4>
            @for (var i = 0; i < Model.Correos.Count; i++)
                {
                <div>
                    @Html.TextBoxFor(correo => Model.Correos[i].Nombre, new { @placeholder = "Nombre Correo" })
                    @Html.ValidationMessageFor(correo => Model.Correos[i].Nombre)

                    @Html.LabelFor(correo => Model.Correos[i].Principal)
                    @Html.CheckBoxFor(correo => Model.Correos[i].Principal, new { @style = "display:block" })
                    @Html.ValidationMessageFor(correo => Model.Correos[i].Principal)
                    <hr />
                </div>
            }
            <input type="submit" name="resp" value="AddCorreo" class="" />
        </div>
        <div class="col s12 m4">
            <h4>Direcciones</h4>
            @for (var i = 0; i < Model.Direcciones.Count; i++)
                {
                <div>
                    @Html.TextBoxFor(direccion => Model.Direcciones[i].Descripccion, new { @placeholder = "Descripccion" })
                    @Html.ValidationMessageFor(direccion => Model.Direcciones[i].Descripccion)

                    @Html.LabelFor(direccion => Model.Direcciones[i].Tipo)
                    @Html.DropDownListFor(direccion => Model.Direcciones[i].Tipo.IdTipo, (IEnumerable<SelectListItem>)ViewBag.ListaTipo, new { @style = "display: block" })

                    @Html.LabelFor(direccion => Model.Direcciones[i].Latitud)
                    @Html.TextBoxFor(direccion => Model.Direcciones[i].Latitud, new { @placeholder = "Latitud", @value = "" })
                    @Html.ValidationMessageFor(direccion => Model.Direcciones[i].Latitud)

                    @Html.LabelFor(direccion => Model.Direcciones[i].Longitud)
                    @Html.TextBoxFor(direccion => Model.Direcciones[i].Longitud, new { @placeholder = "Longitud", @value = "" })
                    @Html.ValidationMessageFor(direccion => Model.Direcciones[i].Longitud)
                    <hr />
                </div>
            }
            <input type="submit" name="resp" value="AddDireccion" class="" />
        </div>
        <div class="col s12 m4">
            <h4>Telefonos</h4>
            @for (var i = 0; i < Model.Telefonos.Count; i++)
                {
                <div>
                    @Html.TextBoxFor(telefono => Model.Telefonos[i].Numero, new { @placeholder = "Numero" })
                    @Html.DropDownListFor(telefono => Model.Telefonos[i].Tipo.IdTipo, (IEnumerable<SelectListItem>)ViewBag.ListaTipo, new { @style = "display: block" })
                    <hr />
                </div>

            }
            <input type="submit" name="resp" value="AddTelefono" class="" />
        </div>
    </div>
        <input type="submit" name="resp" value="Actulizar" class="" />
        <input type="submit" name="resp" value="Cancelar" class="" />


}



