@model IEnumerable<Upds.Sistemas.ProgWeb2.Tintoreria.MVC.Models.PersonalModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Lista Personal</h2>
<a class="waves-effect waves-light btn blue" href="@Url.Action("../Personal/Crear")"><i class="material-icons left">add</i>Crear Cargo</a>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a class="waves-effect waves-light btn amber" href="@Url.Action("../Personal/Ver", new { mCodigo = item.IdPersona })"><i class="material-icons left">remove_red_eye</i> Ver</a>
                <a class="waves-effect waves-light btn green" href="@Url.Action("../Personal/Editar", new { mCodigo = item.IdPersona })"><i class="material-icons left">edit</i> Editar</a>
                <a class="waves-effect waves-light btn red" href="@Url.Action("../Personal/Eliminar", new { mCodigo = item.IdPersona })"><i class="material-icons left">delete</i> Eliminar</a>
            </td>
        </tr>
    }

</table>




